{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{form(form)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img style="width:500px"class="card-img-top mb-5 mb-md-0" src="{{article.photo}}" alt="..."></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{article.publication | date('d/m/y')}}</div>
                        <h1 class="display-5 fw-bolder">{{article.titre}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-bold">{{article.auteur}}</span>
                       
                        </div>
                        <p class="lead">{{article.description}}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="{{article.commentaires | length}}" style="max-width: 3rem">
                            <button class="btn btn-outline-dark " data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Poster un commanentaire
                            </button>
                        </div>
                    </div>
                </div>
            </div>


<div>
  <ul class="list-group d-flex">
    {% for comment in article.commentaires %}
<div>
 <strong>{{comment.auteur.prenom}}</strong>
</div>
<div>
  <li class="list-group-item">{{comment.commentaire}}</li>
</div>
    {% endfor %}
  </ul>



</div>


        </section>

{% endblock %}
